.todo-app-tasks-container {
    padding: 1em;
    color: #333;
}
.task-list {
    text-align: left;
}
.task {
    list-style-type: none;
    padding: 0.7em;
    min-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-shadow: 3px 3px 2px -2px $red;
    margin-bottom: 2em;
    &:last-child {
        margin-bottom: 2.5em;
    }
    .task-copy {
        max-width: 65%;
        word-wrap: break-word;
    }
    .tools {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-width: 2em;
        font-size: 1.8em;
    }
    .fa {
        cursor: pointer;
    }
    .done {
        color: $green;
    }
    .delete {
        color: $red;
    }
    .completed {
        text-decoration: line-through;
    }
    -webkit-transition: all ease-in 200ms;
    transition: all ease-in 200ms;
}
@media (min-width: 600px) {
    .task-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .task {
        width: 45%;
        min-width: 45%;
        max-width: 500px;
        margin-right: 2em;
        margin-left: 2em;
        &:last-child {
            margin-bottom: 2em;
        }
        &:hover {
            -webkit-transform: translate(-5px, -5px);
              transform: translate(-5px, -5px);
              box-shadow: 5px 5px 8px -2px $red;
        }
    }
}
