.todo-app-header-container {
    padding: 1em;
}
.todo-app-header-copy {
    h1, h2, h3 {
        margin: 0 0 .3em 0;
        font-weight: 300;
    }
    h1 {
        font-size: 2.2em;
    }
}
