.todo-app-tasks-container {
    padding: 1.2em;
    color: $navy;
}
.task-list {
    text-align: left;
}
.task {
    list-style-type: none;
    padding: 1em 0.5em;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px 3px 2px -2px $red;
    margin-bottom: 2em;
    &:last-child {
        margin-bottom: 0;
    }
    .tools {
        display: flex;
        justify-content: space-between;
        min-width: 2em;
        margin-left: .4em;
        font-size: 2em;
    }
    .done {
        color: $green;
    }
    .delete {
        color: $red;
    }
    .completed {
        text-decoration: line-through;
    }
}
